.app-card{
  margin: 10px;
  /*border: black solid 2px;*/
  border-radius: 15px;
  border: transparent;
  background: #D8E2EE;
  font-weight: 700;
}

.app-card-title{
  justify-content: space-around;
  align-items: center;
  display: flex;
  font-size: 20px;


}
