.menu-container{
  margin: 5px;
  padding-right: 0px;
  padding-left: 0px;

}
.app-card-body{
  color: #243055;
}

.app-title{
  font-weight: 700;
}

.app-card{
  /*border: black solid 2px;*/
  border: transparent;
  border-radius: 15px;
  background: #D8E2EE;
  cursor: pointer;

}
.app-card:hover {
  background-color: #F5F5F5;
  /*box-shadow: 0px 15px 20px rgba(224,224,224,1);*/
  color: #fff;
  transform: translateY(-5px);
}

.app-card:active {
  transform: scale(1.1);
  transition: .5s;
}
