.menu-container{
  margin: 5px;
  padding-right: 0px;
  padding-left: 0px;

}
.app-card-body{
  color: black;
}

.app-card{
  border: black solid 2px;
  border-radius: 15px;
  background: #f8f9f;
  cursor: pointer;
}
.app-card:hover {
  background-color: #F5F5F5;
  /*box-shadow: 0px 15px 20px rgba(224,224,224,1);*/
  color: #fff;
  transform: translateY(-5px);
}
