<div class="alert " role="alert" style="  align-content: center; margin: 12px; background: #FEEEEE; border-radius: 25px; border-color: #EE786C ">
  <img style="  filter: invert(82%) sepia(57%) saturate(3821%) hue-rotate(310deg) brightness(91%) contrast(106%);"
       src="assets/icons/info_black_24dp.svg" width="24" height="24" alt=""> Hej! Nowy sezon już niebawem!
</div>

<div class="container align-items-center " style="padding-left: 30px; padding-right: 30px;">
<div class="row">
  <div class="col app-column" >
    <app-menu-item
      [title]="'Na Żywo'"
      [height]="'150px'"
      [subtitle]="'Runda 3'"
      [link]="'live'"
    ></app-menu-item>
  </div>

  <div class="col app-column">
    <app-menu-item
      [title]="'Sezon'"
      [height]="'150px'"
      [subtitle]="'Sezon 7'"
      [link]="'season'"
    >

    </app-menu-item>

  </div>
</div>
  <div class="row">
    <div class="col app-column">
      <app-menu-item [title]="'Terminarz'"
                     [link]="'calendar'"></app-menu-item>
    </div>
  </div>
  <div class="row">
    <div class="col app-column">
      <app-menu-item [title]="'Zbiórka'"
                     [link]="'donation'"
                     [subtitle]="'450 zł'"></app-menu-item>
    </div>
    <div class="col app-column">
      <app-menu-item  [title]="'Stats'"
                      [link]="'stats'"
                      [subtitle]="'756 km'"></app-menu-item>
    </div>
  </div>
</div>
