<div class="container">
<div class="row">
  <div class="col app-column">
    <app-menu-item
      [title]="'NA ŻYWO'"
      [height]="'150px'"
      [subtitle]="'Wyniki aktualnej kolejki'"
      [link]="'live'"
    ></app-menu-item>
  </div>

  <div class="col app-column">
    <app-menu-item
      [title]="'SEZON'"
      [height]="'150px'"
      [subtitle]="'Ranking oraz symulacja'"
    >

    </app-menu-item>

  </div>
</div>
  <div class="row">


    <div class="col app-column">
      <app-menu-item [title]="'TERMINARZ'" ></app-menu-item>
    </div>
  </div>
  <div class="row">
    <div class="col app-column">
      <app-menu-item [title]="'ZBIÓRKA'" [subtitle]="'Wyniki zbiórki charytatywnej'"></app-menu-item>
    </div>
    <div class="col app-column">
      <app-menu-item  [title]="'STATS'" [subtitle]="'Statystyki sezonu, klasyfikacja medalowa'"></app-menu-item>
    </div>
  </div>
</div>
